body {
  background-color: #e7e7de;
}

hr {
  border-color: blue;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%
}

h1 {
  color: #ea5455
}

h3 {
    color: #056676
  }
